body {
  background-color: #3a53c5;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

form {
  background-color: #c8c8df;
  padding: 99px;
  border-radius: 21px;
  margin: 40px 0;
  width: 90%;
  max-width: 500px;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

label, p {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}

input[type="text"],
input[type="number"],
select,
input[type="file"] {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 6px;
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #3b4cca;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #2a35a5;
}